img {
    width: 450px;
    height: 200px;
}

body {
    padding: 0;
    margin: 0;
}

.first {
    display: flex;
    justify-content: center;
    gap: 75px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 150px;
    padding-bottom: 100px;
    padding-top: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 100px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    margin-top: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.first-left {
    width: 400px;
}