.first-right > img {
    width: 450px;
    height: 200px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    justify-content: center;
    gap: 75px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 150px;
    padding-bottom: 100px;
    padding-top: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 100px;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    margin-top: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    margin-bottom: 100px;
    text-decoration: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rosybrown;
}

.first-left {
    width: 400px;
}

.smallImg-text, img {
    width: 100%;
    height: 150px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 50px 0;
}

.smallImg-text {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: auto;
    margin-left: 250px;
    margin-right: 250px;
}

.smallImg {
    width: 150px;
}

.second {
    margin-bottom: 200px;
}

.third {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text > p {
    font-size: 36px;
    color: #1f2937;
    width: 800px;
}

.author-name {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}